.body {
    /* background: var(--Black);  */
    background: url(../assets/img/16483294159_c75d7de8f5_o.jpg);
    max-height:auto;
}

.display-5{
    color:rgba(0,0,0,0.0)
}

h1{
    font-size: 2.2rem;
    margin-bottom: .5rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
}






